/* Navbar styling */
.navbar {
    background-color: skyblue;
    border-color: lightgray;
}

.navbar-nav {
    padding-right: 10%;
}

/* nav item styling */
.navbar-brand a, .navbar-bradn a:hover, .navbar-brand a:focus, .nav-item {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

/* Logo styling */
.navbar-brand {
    display: flex;
    align-items: center;
    background-image: none;
    font-weight: bold;
    padding-left: 10%;
}

    /* Adjust logo picture positioning and size */
    .navbar-brand img {
        padding-right: .3em;
        width: auto;
        height: 2.5em;
    }

.nav-item {
    margin-right: 1em;
    padding: 1em .5em;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-nav i {
    padding-right: .3em;
}